#about {
	display: flex;
	flex-direction: column;
	position: relative;

	.aboutPara {
		margin: 0.625rem auto 0;
		text-align: center;
	}
}

// location section styling
.locationDiv {
	background-color: $accent-color;
	margin: 1.25rem auto 0;
	width: 50vw;
	height: 50vh;
}

// staff section styling
.staffSection {
	// background-color: $accent-color;
	display: flex;
	flex-direction: column;
	margin: 1.25rem auto 0;
	width: 90vw;
	min-height: 10px;

	div {
		display: flex;
		justify-content: space-between;
		// width: 100%;
	}

	.topStaff {
		margin-bottom: 1.25rem;
	}
}

.staffMember {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
	width: 20vw;
	height: 40vh;

	.nameBg {
		background-color: $secondary-color;
		margin: auto 0 0 0;
		width: 100%;

		p {
			color: $primary-color;
			margin: 0.3125rem auto;
			text-align: center;
		}
	}
}
