#about {
	display: flex;
	flex-direction: column;
	position: relative;

	h1 {
		font-size: 1.25rem;
		font-weight: bold;
	}

	.aboutPara {
		margin: 0.625rem auto 0;
		text-align: center;
	}

	h3 {
		font-size: 1rem;
		font-weight: bold;
	}
}
