#contact {
	display: flex;
	flex-direction: column;
	position: relative;
}

// Footer section styling
footer {
	background-color: $secondary-color;
	color: $primary-color;
	display: flex;
	margin: auto 0 0 0;

	p {
		margin: 0.3125rem auto;
		text-align: center;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}
