@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.section {
  min-height: 100vh;
}

.sectionTitle,
.sectionSubTitle {
  font-weight: bold;
  margin: 1.25rem auto 0 auto;
  text-align: center;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.sectionSubTitle {
  font-size: 1rem;
  font-weight: bold;
}

#home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/adam-winger-VjRpkGtS55w-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/adam-winger-VjRpkGtS55w-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#home a,
#home p {
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.25rem auto 0;
  position: relative;
  width: 90%;
}

nav p {
  margin: 0;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand a:first-child {
  margin: auto 1.25rem auto 0;
}

.brand a:last-child {
  margin: auto 0;
}

.brand img {
  width: 3.125rem;
  height: 3.125rem;
}

.brand p {
  font-size: 1.25rem;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.navLinks a {
  margin-top: auto;
  margin-bottom: auto;
}

.navLinks a:not(.navCTA) {
  margin-right: 1.25rem;
}

.navLinks a:hover {
  text-decoration: underline;
}

.navLinks .navCTA {
  border: #fff 0.125rem solid;
  border-radius: 1.25rem;
  padding: 0.3125rem 0.625rem;
}

.navLinks .navCTA:hover {
  background-color: #fff;
  color: #000 !important;
  text-decoration: none;
}

.navLinksResponsive {
  background-color: #80c6ee;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
}

.navLinksResponsive a:not(.navCTA) {
  margin-bottom: 0.625rem;
}

.navLinksResponsive a:hover {
  text-decoration: underline;
}

.navLinksResponsive .navCTA {
  border: #fff 0.125rem solid;
  border-radius: 1.25rem;
  padding: 0.3125rem 0.625rem;
}

.navLinksResponsive .navCTA:hover {
  background-color: #fff;
  color: #000 !important;
  text-decoration: none;
}

.navIcons {
  display: none;
  margin: auto 0;
}

.navIcons i {
  color: #fff;
  font-size: 1.25rem;
}

.introSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.introSection p,
.introSection a {
  margin: auto;
  text-align: center;
}

.introSection p {
  margin-bottom: 1.25rem;
}

.introName {
  font-weight: bold;
  font-size: 3rem;
}

.slogan {
  font-weight: bold;
  font-size: 2.25rem;
}

.introAbout {
  font-size: 1.5rem;
}

.introCTA {
  border: #fff 0.125rem solid;
  font-size: 1.25rem;
  padding: 0.3125rem 0.625rem;
}

.introCTA:hover {
  background-color: #fff;
  color: #000 !important;
  text-decoration: none;
}

#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.serviceBg,
.serviceOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85vw;
  height: 85vh;
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.serviceBg .leftBg,
.serviceBg .rightBg {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 50%;
  height: 100%;
}

.serviceBg .leftBg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/karsten-winegeart-p5dIUQFbme4-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/karsten-winegeart-p5dIUQFbme4-unsplash.jpg);
}

.serviceBg .rightBg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/joanna-nix-walkup-H4fEMshfwTE-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/joanna-nix-walkup-H4fEMshfwTE-unsplash.jpg);
}

.serviceOverlay .serviceList {
  margin: auto;
}

.serviceOverlay .serviceList p {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#about .aboutPara {
  margin: 0.625rem auto 0;
  text-align: center;
}

.locationDiv {
  background-color: #80c6ee;
  margin: 1.25rem auto 0;
  width: 50vw;
  height: 50vh;
}

.staffSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.25rem auto 0;
  width: 90vw;
  min-height: 10px;
}

.staffSection div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.staffSection .topStaff {
  margin-bottom: 1.25rem;
}

.staffMember {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  width: 20vw;
  height: 40vh;
}

.staffMember .nameBg {
  background-color: #000;
  margin: auto 0 0 0;
  width: 100%;
}

.staffMember .nameBg p {
  color: #fff;
  margin: 0.3125rem auto;
  text-align: center;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contactFormAndMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 70vw;
  height: 70vh;
}

.contactFormAndMedia .row {
  width: 100%;
  height: 50%;
}

.topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.topRow div {
  width: 50%;
}

.topRow .imgSection {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/shari-sirotnak-oM5YoMhTf8E-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/shari-sirotnak-oM5YoMhTf8E-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.topRow .contactFormSection {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topRow .contactFormSection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 70%;
  min-width: 324px;
}

.topRow .contactFormSection form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.topRow .contactFormSection form div:not(.topInput) {
  margin-top: 0.625rem;
}

.topRow .contactFormSection form div label {
  margin: 0;
}

.topRow .contactFormSection form div input,
.topRow .contactFormSection form div textarea {
  margin: 0;
  outline: none;
}

.topRow .contactFormSection form div input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.125rem solid #000;
  width: 100%;
}

.topRow .contactFormSection form div input:focus {
  border-bottom: 0.125rem solid #80c6ee;
}

.topRow .contactFormSection form div textarea {
  border: 0.125rem solid #000;
}

.topRow .contactFormSection form div textarea:focus {
  border: 0.125rem solid #80c6ee;
}

.topRow .contactFormSection form button {
  background: none;
  border: 0.125rem solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  margin: 0.625rem auto 0;
  padding: 0.3125rem 0.625rem;
}

.topRow .contactFormSection form button:hover {
  background-color: #000;
  color: #fff;
}

.bottomRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.bottomRow div {
  width: 50%;
}

.bottomRow .socialMedia {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottomRow .socialMedia .socialInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bottomRow .socialMedia .socialInfo p {
  text-align: center;
}

.bottomRow .socialMedia .socialInfo .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.25rem auto;
  width: 100%;
}

.bottomRow .socialMedia .socialInfo .socialLinks a {
  color: inherit;
}

.bottomRow .socialMedia .socialInfo .socialLinks a i {
  font-size: 1.25rem;
}

.bottomRow .socialMedia .socialInfo .socialLinks a :hover {
  color: #80c6ee;
}

.bottomRow .imgSection {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/alex-mihai-c-FWgYghZrVqU-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/alex-mihai-c-FWgYghZrVqU-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0 0 0;
}

footer p {
  margin: 0.3125rem auto;
  text-align: center;
}

footer p a {
  color: inherit;
  text-decoration: none;
}

footer p a:hover {
  color: inherit;
  text-decoration: underline;
}

.appointmentForm {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 0 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.appointmentForm .formHeading {
  color: #000 !important;
  margin: 1.25rem auto 0;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.25rem auto;
}

form .formSubDiv {
  margin-bottom: 1.25rem;
}

.appointmentName,
.dateAndTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appointmentName div,
.dateAndTime div {
  width: 48%;
}

.phoneNumber,
.typeOfServiceInput {
  width: 100%;
}

.inputFieldDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputFieldDiv input,
.inputFieldDiv select {
  background-color: #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.125rem solid #000;
  outline: none;
  width: 100%;
}

.inputFieldDiv input:focus,
.inputFieldDiv select:focus {
  border-bottom: 0.125rem solid #80c6ee;
}

.appointmentBtn {
  background: none;
  border: 0.125rem solid #000;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3125rem 0.625rem;
}

.appointmentBtn:hover {
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */