// Import fonts from google
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Global variables
$primary-color: #fff;
$secondary-color: #000;
$bg-color: rgba(0, 0, 0, 0.8);
$accent-color: #80c6ee;

// Global styling
* {
	font-family: Roboto, sans-serif;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.section {
	min-height: 100vh;
}

.sectionTitle,
.sectionSubTitle {
	margin: 1.25rem auto 0 auto;
	text-align: center;
}

// Import other sections scss
@import './home';
@import './services';
@import './about_us';
@import './appointment';
@import './media_queries';
