.appointmentForm {
	background-color: $primary-color;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0 1.25rem;
	width: fit-content;
	min-width: 380px;
	max-width: 90vw;
	height: fit-content;
	min-height: 422px;

	.formHeading {
		color: $secondary-color !important;
		margin: 1.25rem auto 0;
		text-align: center;
	}
}

form {
	display: flex;
	flex-direction: column;
	margin: 1.25rem auto;

	.formSubDiv {
		margin-bottom: 1.25rem;
	}
}

.appointmentName,
.dateAndTime {
	display: flex;
	justify-content: space-between;

	div {
		// background-color: antiquewhite;
		width: 48%;
	}
}

.phoneNumber,
.typeOfServiceInput {
	// background-color: $accent-color;
	width: 100%;
}

.inputFieldDiv {
	display: flex;
	flex-direction: column;

	input,
	select {
		background-color: $primary-color;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 0.125rem solid $secondary-color;
		outline: none;
		width: 100%;

		&:focus {
			border-bottom: 0.125rem solid $accent-color;
		}
	}
}

.appointmentBtn {
	background: none;
	border: 0.125rem solid $secondary-color;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	padding: 0.3125rem 0.625rem;

	&:hover {
		background-color: $secondary-color;
		color: $primary-color;
	}
}

.receipt {
	color: $secondary-color;
	display: flex;
	flex-direction: column;

	h2 {
		color: $secondary-color;
		margin: 0 auto 1.25rem;
	}

	p {
		color: $secondary-color;
	}

	.btnSection {
		display: flex;
		justify-content: space-between;

		button {
			&:first-child {
				background: none;
				border: 0.125rem solid $secondary-color;
				display: flex;
				font-weight: bold;
				margin: 0.625rem auto 0;
				padding: 0.3125rem 0.625rem;

				&:hover {
					background-color: $secondary-color;
					color: $primary-color;
				}
			}
			&:last-child {
				background: red;
				border: 0.125rem solid red;
				color: $primary-color;
				display: flex;
				font-weight: bold;
				margin: 0.625rem auto 0;
				padding: 0.3125rem 0.625rem;
			}
		}
	}
}
